body{
  margin:0;
  font-family:'Segoe UI', sans-serif;
  background:#f7f4ef;
}

header{
  display:flex;
  justify-content:space-between;
  padding:20px 60px;
}

nav a{
  margin-left:30px;
  text-decoration:none;
  color:#333;
  font-weight:600;
}

.hero{
  display:flex;
  padding:80px;
  align-items:center;
}

.hero-text h1{
  font-size:64px;
  line-height:1;
}

.hero-text p{
  color:#666;
  margin:20px 0;
}

button{
  background:black;
  color:white;
  padding:15px 40px;
  border:none;
  border-radius:30px;
}

.hero-img img{
  width:350px;
  border-radius:20px;
  box-shadow:0 15px 40px rgba(0,0,0,0.15);
}

.models{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:40px;
  padding:60px;
}

.models img{
  width:100%;
  border-radius:25px;
}

.products{
  padding:60px;
}

.product-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:30px;
}

.card{
  background:white;
  padding:20px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 10px 20px rgba(0,0,0,0.1);
}

.card img{
  width:120px;
}
.sale{
  background:#b68d40;
  color:white;
  text-align:center;
  padding:15px;
  font-weight:bold;
  letter-spacing:1px;
}

.gallery{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:25px;
  padding:60px;
}

.gallery img{
  width:100%;
  border-radius:25px;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.combo{
  padding:70px;
  background:#fff5e6;
}

.combo-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
}

.combo-card{
  background:white;
  padding:20px;
  border-radius:25px;
  text-align:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.combo-card img{
  width:130px;
}


footer{
  background:black;
  color:white;
  text-align:center;
  padding:20px;
}
