*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background: linear-gradient(to right, #fdfbfb, #ebedee);
}

/* Navbar */
.navbar{
    background: linear-gradient(to right, #6366f1, #8b5cf6);
    color:white;
    padding:20px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.navbar a{
    color:white;
    margin-left:25px;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

.navbar a:hover{
    color:#facc15;
}

/* Hero */
.hero{
    height:80vh;
    background: linear-gradient(120deg,#0ea5e9,#6366f1,#8b5cf6);
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:60px;
    animation: pop 1s ease-in-out;
}

.hero p{
    font-size:22px;
    margin-top:10px;
}

.hero button{
    margin-top:25px;
    padding:12px 30px;
    background:#facc15;
    border:none;
    border-radius:30px;
    font-weight:bold;
    cursor:pointer;
}

/* Sections */
section{
    padding:80px 60px;
    text-align:center;
}

h2{
    font-size:40px;
    margin-bottom:40px;
    color:#4f46e5;
}

/* Skills */
.skills span{
    background:linear-gradient(135deg,#6366f1,#8b5cf6);
    color:white;
    padding:12px 25px;
    border-radius:30px;
    margin:10px;
    display:inline-block;
    font-weight:bold;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

/* Cards */
.project{
    background:white;
    margin:20px;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
    transition:0.3s;
}

.project:hover{
    transform:translateY(-10px) scale(1.03);
}

/* Footer */
footer{
    background:#1e1b4b;
    color:white;
    text-align:center;
    padding:20px;
}
